<h1>Round: {{roundNumber}}</h1>
<div class="bracket" *ngIf="isFirstRound()" >
  <form (ngSubmit)="completeRound()">
    <fieldset>
      <h2>Match 1</h2>
      <input type="radio" name="group1" [(ngModel)]= "roundWinners[0]" value={{players[0]}}> {{players[0]}}
      <input type="radio" name="group1" [(ngModel)]= "roundWinners[0]" value={{players[1]}}>
      {{players[1]}}
    </fieldset>
    <fieldset>
      <h2>Match 2</h2>
      <input type="radio" name="group2" [(ngModel)]= "roundWinners[1]" value={{players[2]}}>{{players[2]}}
      <input type="radio" name="group2" [(ngModel)]= "roundWinners[1]" value={{players[3]}}>{{players[3]}}
    </fieldset>
    <fieldset>
      <h2>Match 3</h2>
      <input type="radio" name="group3" [(ngModel)]= "roundWinners[2]" value={{players[4]}}>{{players[4]}}
      <input type="radio" name="group3" [(ngModel)]= "roundWinners[2]" value={{players[5]}}>{{players[5]}}
    </fieldset>
    <fieldset>
      <h2>Match 4</h2>
      <input type="radio" name="group4" [(ngModel)]= "roundWinners[3]" value={{players[6]}}>{{players[6]}}
      <input type="radio" name="group4" [(ngModel)]= "roundWinners[3]" value={{players[7]}}>{{players[7]}}
    </fieldset>
    <button type="submit">Complete Round</button>
  </form>
</div>

<div class="bracket" *ngIf="isSecondRound()" >
  <form (ngSubmit)="completeRound()">
    <fieldset>
      <h2>Match 1</h2>
      <input type="radio" name="group1" [(ngModel)]= "roundWinners[0]" value={{players[0]}}> {{players[0]}}
      <input type="radio" name="group1" [(ngModel)]= "roundWinners[0]" value={{players[1]}}>
      {{players[1]}}
    </fieldset>
    <fieldset>
      <h2>Match 2</h2>
      <input type="radio" name="group2" [(ngModel)]= "roundWinners[1]" value={{players[2]}}>{{players[2]}}
      <input type="radio" name="group2" [(ngModel)]= "roundWinners[1]" value={{players[3]}}>{{players[3]}}
    </fieldset>
    <button type="submit">Complete Round</button>
  </form>
</div>

<div class="bracket" *ngIf="isThirdRound()" >
  <form (ngSubmit)="completeRound()">
    <fieldset>
      <h2>Match 1</h2>
      <input type="radio" name="group1" [(ngModel)]= "roundWinners[0]" value={{players[0]}}> {{players[0]}}
      <input type="radio" name="group1" [(ngModel)]= "roundWinners[0]" value={{players[1]}}>
      {{players[1]}}
    </fieldset>
    <button type="submit">Complete Round</button>
  </form>
</div>

<h3>{{winner}}</h3>
